
    #contenedorPresupuesto{
/*        background:#E6E6E6; */
     }
    
    #cabezera{
        background:white;
    }
    
    #aspiranteNombre{
        border: 1px solid #F2F2F2 ;
    }
    
    #descripciones{
        max-height: 200px;
        overflow: auto;
    }
    
    #observacionesPresupuesto{
         border: 1px solid #F2F2F2;
         
    }
    
    #planesAsignados{
         border: 1px solid #F2F2F2;
         margin-top: 5%;
         margin-bottom: 5%;
    }
    
    #botonesPresupuesto{
        margin-top: 2%;
    }
    
    #contenedorPresupuesto{
      
    }
    
    #cabezeraPlan{
background: #e2e2e2; /* Old browsers */
background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
margin-top: 1%;
    
    }
    
    #cabezeraPlan .span7{
        margin-left: -8% !important;
        margin-right: 8%  !important;
    }
    
    #aspiranteNombre{
        padding-left: 1%;
    }
    
    #contedorSelectCurso{
        padding: 1%;
    }
    
    .select{
        padding-left: 1%;
        padding-top: 0.5%;
    }
    
    #contenedorTablaCurso{
        padding-top: 1%;
        
    }
    
    .row-fluid{
        width: 100% !important;
        margin: 0px !important;
    }
    
    #listacomisiones{
        background: white;
        
    }
    
    #detallePlan{
        
        background: white;
    }
    
    #detallePlan .text-center{
        padding-right: 20% !important;
    }
    
    .presupuesto{
        margin-top: 1%;
        background: white;
        border-bottom: 1px  #E6E6E6   solid;
    }
    
    .fancy_custom{
        width:  60% !important;
    }
    
    .fancybox-inner{
        width: 100% !important;
        height: auto !important;
    }
    
    .format{
        
      width: 100%;
      
        white-space:nowrap;
          overflow: hidden;
   width: 100%;
        text-overflow: ellipsis;
    }
    
    .fancy_custom{
        width:  60% !important;
    }
    
    .fancybox-inner{
        width: 100% !important;
        height: auto !important;
    }